* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f9ff;
    color: #333;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #0a6ebd;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
}

/* Hero */
.hero {
    height: 90vh;

    /* BACKGROUND IMAGE */
    background-image: url("data:image/webp;base64,UklGRlAmAABXRUJQVlA4IEQmAADwlQCdASozAbQAPp1Amkmlo6ImqlWd+NATiU29Zu0nWOOE1XTzDRl8o+cP9XT6u9+/c4/5nvj+nLysulh/Zuh8cr3yC/X+H/l1+N/wHJciZd9eNf/b8T/jV/v+oR+L/0D/RenlGR6pfe+hZ7l/af9190fxvTnvqPUF4ar1H2C/FR/9/9f6MPq//5f674Cf5x/c//D67Xsw/cn//+7b+zn//PfA/BndZntfRBPH2PFs3DqLoCQZ23DuCj1CNtj6UzzQu3tzRA+q399bWrQmQPGUzcklJQTmZMEAeXUxV/jmkE4OEQWXODSJBP8sF7KrZMN9Hv/vt2xm6X7G/HOxf1kPF7wWY7gG192x+VG/70EumQRB0tbqq1KZInvajZp8cdTg2z20XYLXgcODwOr2OTrpyNUvCe7LFraQAyYMA/agHTiCIJXh6HSlsHBCJMbo6eNsW9sfWZdEx2g6t83Gzf8bTQnS186U+7nIcuC5neekbP92qj++7dqH7MbHN9TKa4BqxpeHrcMkB6/xPML90s+fTV7C6q9rzFEv2StoEjseNm5DO3Rr/G8WBUl+oP3MmdRRdZobAm0sO5hL/C24KrdHSoNLw8AMX1YgK75Ykqn0bsnFswIZZIQkDyyS3xAXq2X5W21+DY+99eYWvq3fzVjNK2hQvJUNlPLxzCQAVQDO/PvdeNx/36PRh9IaRTJ7See3PldFgDwdVqPKJ5BcH3QpjW9uEbiP/rKkR8Zump7/p677ekBMwnFqg4FD/4tkf0q246rUtRzteOuDpfyyxjX5JZ+ygcrXW5ay7bMwResvWmui82OxgFDZWw+aeCPRHZ8wN0vI9dcs2PGjOzHTckOT/KHz336O3fC3NAbr9XJdot8TJqIknvsMxA4SUuqZ+wpnS5TxngNwBJqBM7gEpCnxR74UhzBtY4x7glPekbP0L2l8WH2FN3oYc6oNb15Qx3g8bP8E7wANFdCHWDJnmdrqOQf+32+X1h4yEjgD5DNiaaOppWHT1/AvOYDrEP9Wf4wtd2XwUXnGT81qqCGGC94plGl25jKaVMhlgPSHvcBC2XrkWOcSdn9141OdmrJ0AxG/lQUb4PMk8JVdIH6P/HR25f+v6UG7vsAS+y1DgfQYZIGsWwchU1WUd/cqM+vc2d6TkfpsOCOu7VhJK2gaKEBEsN4RTDBv2WXKT8jH/7RiH5b59mttaJFim5r3NxoL918Yg5IsxBNBem9Rx3FBufNX3B+pG1sYQTHt0gJ8aQwFqm33EX8hK6+tef/9Azo71/CX2ON/YpCPGBwU1rdu6Qdl5wc2zyhQHQ2hneu7cYc1+vIobT0MR56D/cXIHbdXBCs/TDpWdPdkdrgCrKCfWTYMsiV+ivFe1l+5+D+M6j8cm//UjoOKmcxqSEYXguv9FUYUr3y0SaP36ogX4qcZT8GJU8r6wutGC2SNLAVpoJhw9d5wvB/O44a04LkpmCbUZw5rZb3Fqv//X/4eXp8GNEqYL9mt1JxmOus+PPc6QbFfn/7ghPeGpA05EknllT+YyamQjgTL8pkSuB7wvWx8axqmDthhapifi0qlGymhTbUMxTmwL5Qv8h6nq+IVX5sqSR9fXuhK7MkygAD+z0tquOou3hmz0JQLK4MGg9eeY+g/KXeb/699qzwKwXX/136E/SB9YzU/CQOI5M6TArJH6YerogzF7RbgrAJ+W36s1CF3C7m4kC9Xa3H1kzLIRt+khKSPVqVU4HGmU2Ah0Y+irH3KlbknvawCXTnzx/6NPzzuD9EY04lekUQRjOTzHo3mZTPPanFj0llmlOwR9/w9ygGkTHsaPl0bUWuw3T24IlmZ/GO2uzDYC73uk5VZBtgf2ddshpblYDu3CaVXJsv37LWGvBBpIpc6uVKbNBliHlrmJt9RJH1IQv9W66Ud42q8IzDM+5MM13aUS99249qtxaF5Yhbr4EbWQD/89Wr6oLL+/0bG5cbrCpp+gYmIZURP05E+ebx+cR6pymueHTG8+9KUPKHM3fDVGz2jQ9ylYJKXYvwa6tBv7FPJL8DA4HaSMYw6WyO4G7oN00OYBI4zLQLyPZ1apwBfmOzQHiNDQ7ygm5yk0k/JeTYLE4UTCFOaKlZrQIpUNowxQb8mLlhHPTXZcG7B7wVO5U17CAiGItQDqB88K0G8jrKWRoqkUZeMg81MTWiffKiFJ+ZOcnB61Y9LgOZtSnzCSTHtnqoZWRF6MFQ6T+4thU6IYtTmpfu/7jHMPuJxVEG6RKbkpKEYZM3f3xh0OzlT4kTeMMok/dfzBA/aR8mwCOzfPO8h5cgr/3XBG2CZBBI1prUSQ2J221piTjUAOeGTmpXedBcKGwvE2GlfmuvjLwKzHRnSj1rrZM8pYgAHsrQqccqHk70sF6zzuQKQyuVSGe9v/MEqAQrnt8Am6UiCcLee827NqQAtTP8vPLI29iabMqv9s1nPL0OrTFmHXaP/GkAvHLTz0B4e6OWX9ChgW4rq5uMIpgrGJEX1C9pPUhrX2+9KI28vuDYKPNIMmHvANtM8cneDsFfGBS17MrNkPSaW8iRRKAZFBFLnABkAwWxNb1xVMLrzB19nbwum4ojtcb9jVzItRdGNTm8VRcRd14yGvNMF7Ck6y9G3w1LGpvoOcpUpml8u0XGd0HKrPrds5mdPRTCF4LgcecHVtZfpKdeQt1X1cG/McWLszwQ9WeerDFU2/TMFwvUoifOXUpMyHC/jDbMM7+ZvIho5Td1Vqng0C3tohXeBnESL3yPDqD6Z7oXEKLBIAogRK7OTP86Iqtj6xNqLxTn/Q2lrNJk/7mUho0ckZrCv+GntlgSxBrwiClGGy8idaYzRKzaAujhPtVCKwGL97AnTGqRxfbKMmEE1cfVoERDbXrjVCGzBRybC8poAhHDFQZPZhY7S6E6q9+zGJR8NNy7mx7MjxI8Tr1cwbWGpRms3TJor3HwMDxBIlRgqq26HY+bMC63I3cwcvPbO5fyt0ZmRTUE4QwdChTLtBC8r6AKq6+VOAXE5ZFH+LwYxxCsQEB9pkK01gpgtc4FZDN0IUGS727fjBCObWPno5Ij61yKOVsGxkgI+U44cfwPUEKfsNKmQOi5MWB6KIkMdHvXiEe574RqMjJz2B97vowPcDH7XERJoZ53ErtLwA/dmn0jKlBrwRztujHP/QfhPymcnNQSqBAgTuoNVjyyp/BuNejgjs//PR2t422nYrpCx5Xh6hOyaykw01QKF8KpH7FOg/YLkHqF0kfiXOjlf6y2tO+5B9bZOZ+VRmaRZRQKGJnfUTKbTOdqlBX0QVMcnqCtcUfFIdyBZLRj2PAakndK3bCE5wyAeCY8dC97sA3XB+YtADleA1xCZSWB67tX88XkdZtenNohoUiBxbKs4RfbNiGihvqnlwV/8w6Stx9rccy02f/DUz16pjAYYgkPvIkkUOo7dBZXPTK3q9g+6nfGAnAbKn8swHk7DztVLQR1cB0YisAO+wppZDY39/yxsLB0/cFQQV86gMruCZWsUhc9ITCjhh+MB/aQ4y6plx7cfIzP6Am2fV0pOJzK2GNK6kXavxXqW9olYtghq7JE30dA56h0Kx1ZuGxLK9WerQ0zO89pYVLskk0zXI/A1VFStjwfdDHeL7UgjGDsBQAhHUjVgKD9rCfwqz2L0B7B7OlLVAftQ2+GT/KrG8oR5BVVitwTsUSQOV9kU5675/Uy6F5L8zHTMdH9Mp5zC1GKYrzi9hdMjaHqlniOk/JSXd1s06efydH4PZHniLEtHnf9L+csJdjnlZvxQ+Ew3u0jg/JkP66TDAAPu3+SbsF9VvGB//VP3OQFPEFbpByD0Z9lDpVRXouNzJzI1hgEXBsJT8YxDQE8ZGqPhn8wwyOemFB/Kw8V+tmJjg9IU95had9fPDqcxKV9QdPEDtEjRoGBIw+DLBXep8flQOqMDKsStKldxbsteERpoNfCB2ByRpe7aRdXTDC+YnI4Ybv9tjAa8ow/CpyCow6cQ5H18MpJ3boyUIlbcJSkBaIbBtsIegnt5YIuJTuN8rhF+so75oUb5zuySlja5hI0gJp5LuXqrlvCuEWXJCrCueOrZqZU4Pmqvtgz+TuxpkC50RNQextwgbTCWEhQHni7UEVpfijYyL5/QevqBsnqhKyuUpLrY41yazSSJnUjQxVAlh5AtaSnVebapuJfADkw0IR0CZIxc5CkE9VG4NQq+jSySuP66/fTttZc98AlSP/xdgXU/AF+a2G/4QVwf2cNMU2rKX2dUJYD8ZdDV5274Et80q0G93wV9oUAXom1hm4EZG40gAW9C9aaApPy3v+CxPzyWO7/MpZojqfICjuCtz+fx0Om/4IuGrZ854VHUfqJpKQc52sNMHAUR7dPlwczF5Go5k5jsGeWuuzDHQVgwECUxMOYaBB5YHEGL+llEiJ1o29wsVrEOEtmRXUypIWkmM2uTpd+rrd1t5zamwPpdw8+qC4xNXyloIiwm9XZqeCD9KA3wNR5TqLxRq9yfPGB+Rx5BBA1yvMOHlzWIyF5XjZM86V9+WWIxIi7vZeDDymWshgMHbx5qTd6dGlRYngKTZz6DknMsDcpuH+znWOhVDBkAn0Bu1zHCXU4EP72p/Qqx19ltvC+2FCYBzlCjjoebYexHL0Xhgy6IkAQCmzYkQJ81b+9DChRnKmB77kE4gTXmCVUS8odJKlRxA4CdJW3kblGsJqs6GSkr/VI6StLQjHeSD5F6ZbdM8rr3Aie6QiN1jzBjncVh2Ij3LMx0ZKocQM11hk/y7Rig5JWxPO3kofHVlTPP+eP78trAI1TmTOiJD1WrkkJK1BUqGMCTd8zemyEZ98Gb92ER1Mces5W3cvggRxMeEJ44/dbf0s0hIQw2jUpRg1Q1uB4Mof3esiFqG0P55CHpoEuctyfoW5YGSXhDseZuBCdAB6/dYdb8EcxrW6Ckn6Qf79XJmmiX+4tssBlNqkrXEG3+cQzHSILSzXfOkExxFw2C5JXbqc+Jb1o5xH40gJ/OIMvJDzIcfoHe/UXg5DfgnBqQtH21ENKqdmrKnhrknXP6t3R7m76cjYZYxsgOMgM5xG5ub27IGrWhxHoOTHTAPURSIJEDtjaiDBbZYzino+CQOwcPRYzV++Zi1wNTDJkOJtp+P+0MhCs1y3kcm3y1UvCLLdJzppMAJ9z9DTlvPnDJBQSntSZ8pjZrUsWARJqtTSvDCvqcGyusoTdh3IR3Win3Pyqz5W2SUioLI0JOLzcznUAc0G939JZOU89ZfAI02GPyPe4Gex8ZUuyyX91rkCB4KC8VWYVgCZ04q+D70lE/F4dw4tZPLaMb81LqNM97VehA7ksitTCOxX1ni0iQnnogO862YzOdMh0jPvKdGfxLE1u6dvSn2SBxc7kkfSMOzy6jk4JB2zl6I16X/Pb+tC8FWUYqes/JckGWocdFzmimAa7hPNa6kspmr6Pqrie2GHGQBOg2WDH2n5L0okfTPGfTiqk4VuHFrzPUO/Lq3sqF/eTEVzzCR80P4grMdwJ8ZYg0clk02EjbhiVzmmW71pzoK4JcOB+h9V8fWPs6pGvWmNAzCqh/5XWl6mCCevrFR12CrJou3Z3KLIp2zyF++R+R/QMcUFgQr2SMcXjRcELch8nCe3Abb7zNUxus2ZKT5jGox3gYUDQzMDAwu4YqvTOC+Z07lOkmGHnWySPYvpiu4fE8n47X3YsXjTitoVQm6kG1ZE+MPJToYAoPrmxCrz4c/fMxUpTHSF90dYD7tgWv+5Lli6ToGqBN5vI9LkaK3h4fKwfPa7xgvDCqDJvNLuoWdKS6J5FKe7S3izLZXdcTecunTaw5KUDAKs/WE9UfbCXg+x7qW0FBhUwnmWegHcJsreNRGhJi2tUHdWHG8x2Y0GdSQzEiuPAL3NbvXBZp470NS+I1sGXsHONvR9j7wv2Z4pBGd2As+hoNO9fhcJ1KH9cLYrvnsaYLAHvgPZLrwg02RUSQq5ByC/TDL/qBv2ziO8H6XaEvgFjBNxAABAtTzG7v9xyqbBcb2r7+v1OJGxVRzPOqROkbqMmc5aBEktNl/Vvr5VkGy4vT89+ttcDD8xlJPly1ZUZirHyl2xg/gd+/2J69mJvARcmuWePac6qSCAcVKMsn8s9LnNXz5S3H7gk2vZqj7TCdjTzM+E47k8DMsZ8oDzFDjmbUJyk0LmbGx5Aga95oH6olMt7gu99/ee0O7CpYABljONHjLwxMbz3Vv0j0xSIAc/EiHmy4XBWgiMKGnPRv8TdlPyJ85gWw7ADlGsSvRCw+FZvRgdeZLGAjW080CIDP0QN9zjaFJb9CDlb3S+1XyR0XaXjjgC1b/RTnkxT+TyFg73Z/4+uHNatJe20gjsnEPTzOTfjW2BBufrZ7TFFDY4R3AyzhtHJfNxAAVnZ87lq08t9E13r5rRSNa/OK1IFLlnlfvcQWeLf+LFThLMCvqPbhwxZyxjScXrtyzG/3aLM7tvORAsu6EKffeYr7APQdpYnQLCO6L5OtGOoq4K8FsqtauOPYQUlU0yJzyGNJfsKWphZuc9xpTzCm9s2s4wGLADQngp8zexWdDELdHSP+6vnN66DtQqdHK5W09L3NCVl24e0tt2MyrJwpJCqgyxL0G2e81i7xlgkC5mZics0XXDbYEDzcDxme+mp1hS1ENk/wjz9bAZJxPl9UG2BTJrASHAyAWS0ZGbh4dTAAIn3HZ61JF4DMeltW++MmKiilcf3toYuf4KjetfsjIThWdB+31WPO1QNtkYeuVJ9oKbdMjLxIh08ffbUoAneQVZ2NOipVYA8A9tr9souBGWaSFjJzVoXVZartnYewh+Ypo1DQx10OoYZJFRW5pHDnLr+d0UFzcxbT7Kt8fTc8wD6TWSWCUpJR4X/MJQVeDqf9vNzDkax260CMz/zsEMpYc8HOmh4x+oyIvEE7RedJKVv6fFmJ/HK774XRP4IebOCcm0CCJhuKzenEdlA/hElaehe9bzCFrpeSy+qYs+kbQto0331rsDw/x4VdvmzYqCT8yjJzlv9qRjPBrgbBkG+NxdyTlhVkyqizI1BSRlgQ2kK9z5bGeTz0A7eEcaFy/rtKNyNzjpAHCwqPokh4JB5vLW+UWTkWY9DphxZPLJTp6uzrhTEiEWgOLF0rFqM4O5BShKO3XfHcQuZBR2nd58UjtaxCElJvlQ0p6EAeU2b7jf4e0ZzdAggSUktpGuFfLwz41hw2O6JzmcSpdd6iH83g5Vh9XJbeNQ1zrY+nVuNkAnjcSP0NhQSezz8xu/RNySEY4kRr1WXUzBiGnIGTtH5e+p9c7/VKUP4+wAwTCzzb/5vv+j+6uVOYoAM00iWWsrcdf1ygk0dH0eR/nvZtA1d0rFRfYA5VuV+SH0NCnlLAsxvkSG6BY6+PQDAUtmtwFdNXbVuLKHq1eLGijRQIohYc+kqjXPAXing6pArNLAJZn1Z50lYwQQRuFyugAABaY0m4XTtzbSzPsqOxgOZblsFcMBZv6Y88Jz/2P/rD5a49hg/8Q6CCnZfoeh0sRANstZACgRfF5GhOrPSuv5ZvkzKu7hwWpbBrEGfMVLu1Vf3+iPj6ZAUykPDu/6iH6pWUN3xa1rvehLfhA2FhSD9rbk9/sxnno5plzMSPVbZr8zgFERefxGI1kHSaaWtotLh7vG69M879zTri0JX/KHd/n5aFM6g/RbnkI/yyOmFR3pDZ70/5/8SBqZlhOJ22U2DVe0CuB88d1gAESBwoJQGKFfu0tbAzma5VRd9aB6Vb+rw2FOH2CVhXQfu6o2DxZNpaGhpBVqFHBUHuX5XJrm+rMqzpxDDx7IehEn7ULg/g1HSTe7RcY9GY0T108ZXQx6ToF2KPArsvFd49vGPi2rAzknFkNdScJICcvfjuH79ckX9d6n11IjTMvJndkWeHWuUXuLwBShaWDwKTKxZdzrJsyG7vzusr1/oLo0+3tUV+QVmmnBQddxVgiREiMpgUxOfFeRxn/87KP9crpItfGLknmYcSrhHsN22DqC1tGVEt7jRrBwqIC1IB+rVHXCzDxpL7QdNb/diSq6UFn+S3CqXFtjwcQx1l8wyC+Af/zljRcnOwAydCouW6cd7kIiCze0WLd/dpTAUS3X2veZ/8riH1j9k99DWEZtsJ7zr/80TgG/m7OpXylk3Ti3QrsxcVzFihYbCFH5IEBJ9ts8zuuEupSPKL+YKtSwvqAck+cBS4JUepou4BX961+kqoD8Bbi1lVidwWRcixe3++E3qIDCNwoYKPImmTd0iQvQwCLNvqklNZlVS05Bartn5Zo16au5F8yQHS57R8SECZRR/CEhl4dGg3pc/wTH/FugZlDsiXcSVCnMkeMZTCYZlE0pQcHXsJYG1yK3a6q2VH6wPNxsBsAI2cUC2zXmrdsOjizVsD4eDdnf1dJZNeHV/f1ijjP6hsZrdHCikdGsON1JUktb77PPvKYPKgPsmWSkJGifOeeJ6+SlPaxwlLvW1243WYKjFoFwEMzsYvmgmFJYFIOQF3uzuXO7h/nIS75wE0QMbrK/nMR74TjmRhyo1qKbEH0fvdd0+1Q7G4f7+8CApCpv4Xh/6BS06BkH1orhFzZ5tvgYb3AzZ85fk3/UzE38v786Ask+mpN/1/01LuRGXfMwD1V+hHsE/xfb6gIecPgU6mrZDOqWDBQPi91mgCYmlQhh2P2MmRCVLl7c8ki7i/BWiZCOm6USatJljtuBmaQ/qfaeAG6H1HPJxJlM1G07pBhIbek5i3KBNZfPBRRJcFEik4rFhMwRVdgL0UxaSuWDoS69XMd6FuEkKmLJRpMoEDakXd8LoFNHsM+4O1dSLxQ+rQ+2gxrDlYHHsOmVgrT+HfUQgL0trnNd37LJfGawPUXjWZLHQaq1Jn6UqW+pUDVGZd89on+DaExC9zmGtUbGPvqsBst7QYlq6M2wDWqe/+M08jeky5ueV6c7zuOTbZiGnCACSXMXxnPwtJ8dqA70CitvT9f+aW0DeWYBRlrPrKW7FvstSP7k6vgc4BnSFBGuHkL7ALIl0QFfxodZlQQUnphxtZvRPYBQtygGG7PCXTltWQ8IOJthNzZUMmWoaSdlK3VxNXsMt5jGyu/T/dx+1Yia4GzbpzTD2uqJT/DvH4IOaSglIuqv7gTYuHaTc9Bh+eTSjEBAcb+TKua5p0NpFQgl29Xs7bulolqhYz6NwyxL+c014VN2Y+/hXUA01WHtmC7KLi9zbTHemRv8IIwn2ps0Grbt8U8FAq/X/8GU5/d4MQEb/Kuimbh3+4bm109VcO1SDhUh/gnEiHcBDUxAfyz0xpC987DqjpPwGpYOPGVhVw9ZOcjYPJzePhLNoyWKiNPoAR6gFsRZhhdpa9tQfftQfCC2pmnSl5rCXRiXQ8ga9rKEoacxiELsDZL5XqOLLGAZfvr++QmQlTeo8CRUvmxPGcZqQd18cOlMeFDTAMUJ+9QAZLwvVQc6bCFbUmT3Zw61kv9M/uMH/U4K7Avy+uaehR+/9ZPArJvhUN0evDyQjD2PYizbA+ftG5XLmCob67uaX+n8vebSD5EDCJS6iTZrd1ktjrUuJ9bHh0abfyMT3qN58D4Mb/r/JO218YWv++eKk8tT6VTH2YTGqxTiFs51kWPTlUt/KNn5OFP21JqPP/cTN76dftBLXMbDaXpwhaJ2XlpkyK86T+HagSz1qRiDIVrGLiHCNta66I5AgKVG8J/pPrOf1fKAFP5G4ZVeR9KqnCZ6elhqFYV4ClPJ/zX5dnBr9aysoZoeUFaiZruwxnXxggdi6T4/Vf+RPK1CPZKR8Gr0d8/3FuTLHXPN5vUyIy4VubaZh8au+Jsw6zq9TmAC0NQVXWQfWQz3y519sIubAHv+O1LQRVHcQzTMR1OqGEhfGrpdaBHtFsoslA4AeNAXmnC3C5D+47Rs+0m/GbCOzXkrFomxU3Zz74sMME8ctX/7uVm4zeuXRqHSHeVj+z442OTG9j4q2vwK7Aec6e70/SJNszZFM1W+yAtSBwcgA1iX/UArbHsm4yRk2sKJ9V1Ydel639fMYw5ISuXVjxNSYmqdnZKDM3XKEEYAjIY1JstOH5cKS6Vz9vKyZHjamW3muJ4/0vwDekGCF7KFkgp3lN5WWsRRg4CPSiKKI/2L/HTQ1YUbzDkmxWdns6OgGWEK2PiXn4BAW0qx723r+gC+ULcwUKTEyrULOLPTEPTuA9Rv5ceDsHeWF7i1JPT71j8dD/OO6nXn/JpIhpV3IySjgKwlogggyu/zhISw2+Op3saxZQJ4AqqOsa4ZoFB9+E6gnnh/6OWzygeCGZ7RwNEAQd35M5Yl5cszBPbuDEAAyA0RDqeKOwEmJ+Kyu23fRQ6If1lsPYVAfzsh3hUw/BQmzwgvoc2CFl72Qx5KduKhkCRW5uQscTzd4XXMuV8HzOXMBK2ZqfG3V+F4c3LspoBqCinvwLl7DNSzt3XRjntd0oZ1r7QPs4yczx/HyH4f+5g70A9v1utcvTS3l77rCCRO478DsFgfoq5MTJGA9Fb6JjSMB5xTJx/5h3PZ2lz1844qN87+UFEPkF1KwaLAAk3sIpLyyEgHh7SHdEahDowabLeuiAbVQWDBvHfk9wPYvkQeGOExto/bqluk3YI1QLzLKKXoRi3doewJbQF/uUQLMwQBd3GAzjw5cfLZ6NzW2DXW6cYPZg9IogUbqSnRAvkydH3aBR9Vbiu5YpetYobYEC9nYbQdAhQ2lenP+OJAoSb6gBws1yNawXJirn/AAqCNUHj47sVrzJKFMaXw7rH/o7PMpgsQjiFQQlSXIGVRBAIkHql3r2hRFNu59YG+tYrrly24E0R/ao2SLWlV4uq/KLBQ/gdBtHnUu3ZxjzUeFOdRAbecX6+kNDU3Or6OdO/w4D/PIoGAse0y+87r3fOAlLVBwm/hcemgnhblqkluPaOrtTcuxYw56FYZQ5LcXuccAGj0QuQuweeolNwA0AEkqABpAg9bXpKkE675+Z/1kxf+Y2nZBRXeoiVxuEdqN5fobnrTraddJib+b1NZ2EkFx5cP2nEgY23iUFDoYMR3b1M7hikE4mFdz86HA/87y6JQJnVZmMlLNBjV0ouKenq5fHE29Qz1/kMrZCr+ubu3CopyPq3Vrl1GH24Rxlgo0lSIMC2tHkBXmvYNaUKvpAFmulcAGPNDXOWzf3gnhsO0pOFR/8IRqQ7WhDdI3q/uoNOm73bXuW2aYiv5QzAsjWlsh/m3rG+N1QnfYXT5uNruN7MT5qv47lEFhAQXgxAHLHUFMbUDb1J9oeKezUcTajjcNNByTdd7BCqhCEnhiaRUEXCFnKpgkqpeSg5NjnuYfTAuZgKKwzv37CWgqN2z/sSYqdcB/1epUP0N1zrdbEX/bRNNnVorYL1isXUiXXqMSSbe3tL8TVicIvK+2MNX7HaVMjGpFKICqLwLGcyCD4B8mXcrj8S/KH8vxX8iauUokzpLVMijHWHCXMo+ahyY6iFOvRHjxBTaO5Z9LRELCPGMAnX46ZmWeyL1a8/zYFGoI2hRSuBW0YCW+RuE5YeRDVJdWK33socSL51sqebFtkU7iBudatFTS7JNyHMigrqGvgEBvAfAoTk7Go8aZazQuphleTFAEhVlzqdzAV1xRdlSY9C5WOeZv1R6X6IDtGJ4sTIDZtqveQ/1j3WC1WkIqEyLh506fEUlcaH76rbnM7q/nVybQtQc4fisfrzLclzUX4JwNBxOyrtq0hMmrCZc5aSPpWTbsT8dtDdtcNi1cL+Ctd7OgH/+JQ1IzArn2oQeokCkmusscx2oj88MVgqCzWpnO3O0H87h9GtRM9BKl+EjtEca7/uhHs4N00narmxFfHyenCU3x3AdFHJfLmjR8uqRWmoOvwAUugMcQKyCqp0LtL7YdninlSV8VY7Vz3UWDZ6hEQdUDeio5vRd4mlFJLP4GGnyHuASmfW632odITXTogH2sH2LELBp7qwjNlevofIj8pJ7FrrkVQaghFVlmJXs/qXK+oYR02JgY/yHyfxg+mAdUC0Nhto+j5xqu5AzC4wyhWCgqSAF2hCpg6jsNoYYTol2LhNb5cOal2yACqJIcaVQbUk7N/wxeh9BPDAcwQmNFYGROClOBbLZE4YWSgEKBAkGx2tBidFIMDCkZGYAtRzqUc79JBCA1HmeStRFqnraQj/vO4LtrW0soNsHSeA+R81akqMIaCk65csFL0CKnqkd1FNeZmAs5nSv9XEv7EauimnExs+2KqZJvPDOhEb4gMqKLkcXAPIbtIAfS5Fkm4WVNy1EYBvhI/WEvG1zph5KAgrwwagWOCw/1OYfLiETqAA3AfN6UKbVIAEfjit8dYCLr1zgaoUEBiLYybtq0Yi7Bbe5x8PGMSIMdWWxbJqXDyo115BOD02a9XFeNyFSgOkD/pA8Y/xidE+rG2sYma6Cbjt5BVuiCit17MbTjlKn1hJNCh05xRctu4Bm1iD6hn2i/nK9Hx6SPWpxIYJpJ6d5lXqGL+uAFOtL1wI4asQGXQCeSypsUKvfi8AV9c9sUsEwffXxtyLfQjbeeRCd5RziIpGnJ2J092tGjp7X0oDh0h8JwvPvYxMK6mzSQRYdvmaKnmCWFYKuZ4Tpd/heLQ6f08t44owZrzFkD9QAN59ERKfFucWC8r8Sd8/3YmHCw5k5gEgWllnYlxX4T0hXEBXTV+FP91j1iwmu2kEj8mM93pgJ6vspV8Nx8thejs/4i5p5KHf1qRONgYbGgbyhhXtvBZENPfK25pHgEI5eSdq89B1UvADflK0D55+6UEs5GtpWrZDkImgrDhPDIq6aKNTECiQ3Bmgyydo9Sg6vxGJihGbaCpliZKSQJJIm5dxiG4whfff904JeY8/MVCJgajfcBE0Pj4UbRArxDW6IZqgXIPnTiyIfyaruWpgawzWQZnrUphrlrQOthuTH8h8T4oYg3u2iqIcsYwftNOiy4yGiHa1H/0jR3gEskx37mHM8nzbbEYQ7mUAPEehWhz7FlgJKYrDEWscRLNaYAdxVrLjnwrJEVBvHhx6RqphzntU+/6Kc/VxLgAhIrXwkN1mNDgXxV75Q5MVjUAAAAA");

    background-size: cover;      /* full screen fill */
    background-position: center; /* center align */
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero-content {
    background: rgba(0,0,0,0.6);
    padding: 40px;
    color: white;
    border-radius: 10px;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #0a6ebd;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Sections */
.section {
    padding: 60px;
    text-align: center;
}

.gray {
    background: #eef4fb;
}

/* About */
.about-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.about-container img {
    width: 50%;
    border-radius: 10px;
}

/* Services */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.service-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.service-card img {
    width: 100%;
    border-radius: 10px;
}

/* Doctors */
.doctor-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.doctor-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.doctor-card img {
    width: 100%;
    border-radius: 50%;
}

/* Form */
form {
    max-width: 500px;
    margin: auto;
}

form input, form select, form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}

form button {
    background: green;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    background: #0a6ebd;
    color: white;
    padding: 20px;
    text-align: center;
}
